<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="/style_no_ads.css" rel="stylesheet" type="text/css" />
    <link href="/css/perldoc.css" rel="stylesheet" type="text/css" >
    {% block other_heads %}{% endblock %}
</head>

<body>

<div id="rock_header_wrapper">
    <div id="rock_header">
        
        <div id="site_title">
            <h1>
                <a href="index.html"><img src="/images/logo.png" alt="Rock's Blog" /></a>
                <span>Enjoy life, Enjoy coding</span>
            </h1>
        </div>

    </div>

    <div id="rock_menu">

        <ul>
            {% block tab %}{% endblock %}
        </ul>

    </div>

</div>

<div id="rock_content_wrapper">

    <div id="rock_content">
        {% block content %}{% endblock %}
    </div>

    <div id="rock_sidebar_one">

        <h4>标签</h4>
        <ul class="rock_list">
            {% block label %}{% endblock %}
        </ul>

        <div class="cleaner_h40"></div>

        <h4>日期</h4>
        <ul class="rock_list">
            {% block date %}{% endblock %}
        </ul>

        <!-- <div class="cleaner_h40"></div>

        <h4>近期更新</h4>
        <div class="recent_comment_box">
            <a href="#">Lorem ipsum dolor si</a>
            <p>Maecenas tellus erat, dictum vel semper a, dapibus ac elit. Nunc rutrum pretium porta.</p>
        </div>

        <div class="recent_comment_box">
            <a href="#">Aenean feugiat mattis </a>
            <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
        </div>

        <div class="recent_comment_box">
            <a href="#"> Lacus enim id lacinia in</a>
            <p>Curabitur ullamcorper ultricies nisi.  Nam eget dui.   Etiam rhoncus.</p>
        </div> -->

    </div>

    <!-- <div id="rock_sidebar_two">

        <div class="banner_250x200">
            <a href="#"><img src="/images/250x200_banner.jpg" alt="templates" /></a>
        </div>

        <div class="banner_125x125">
            <a href="#"><img src="/images/ads.jpg" alt="web 1" /></a>
            <a href="#"><img src="/images/ads.jpg" alt="web 2" /></a>
            <a href="#"><img src="/images/ads.jpg" alt="templates 2" /></a>
            <a href="#"><img src="/images/ads.jpg" alt="templates 1" /></a>
        </div> -->
       
        <!-- <div class="cleaner_h40"></div>
        
        <div class="sidebar_two_box">
        
            <h4>友情链接</h4>
            <ul class="rock_list">
                <li><a href="#">Free CSS Templates</a></li>
                <li><a href="#">Flash Templates</a></li>
                <li><a href="#">Website Templates</a></li>
                <li><a href="#">Web Design Blog</a></li>
                <li><a href="#">Flash Web Gallery</a></li>
                <li><a href="#">Curabitur sed lacinia</a></li>
                <li><a href="#">Vestibulum laoreet tincidunt</a></li>
                <li><a href="#">Nullam nec mi enim</a></li>
                <li><a href="#">Aliquam quam nulla</a></li>
                <li><a href="#">Curabitur non felis massa</a></li>
            </ul>
        </div> -->
        
    <!-- </div> -->

    <div class="cleaner"></div>
</div>

<div id="rock_footer_wrapper">
    <div id="rock_footer">
        Rock's blog<br>Mail: Rock8hi@gmail.com, 2399695400@qq.com
    </div>
</div>

</body>

</html>